---
const currentYear = new Date().getFullYear();
---

<footer class="flex justify-center px-3 sm:my-3">
  <p class="flex items-center gap-0.5 text-sm leading-5">
    Pilkington Enterprises &copy; {currentYear}. All rights reserved.
  </p>
</footer>
